{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": 0,
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": 0
  },
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  }
}